@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: black;

    header>ul{
        display: flex;
        justify-content: center;
        background-color: black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        font-size: 10px;
        gap: 2px;
        &>li{
            display: flex;
            background-color: white;
            justify-content: space-between;
            
            padding: 5px 10px;
            flex-basis: 25%;
        }
    }

    main{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: 250px;
        background-color: black;
        gap: 2px;

        .cell{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 10px 20px;
            font-size: 12px;

            .cell_title, .cell_footer{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            a{
                color: black;
            }

            &:nth-child(even) .image_container{
                height: 70%;
                width: 70%;
                background-image: url(https://source.unsplash.com/random/painting);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(odd) .image_container{
                height: 70%;
                width: 70%;
                background-image: url(https://source.unsplash.com/random/nature);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
        
    }
}


